[DEFAULT]
ConnectionType=initiator
ReconnectInterval=2
FileStorePath=store
FileLogPath=log
StartTime=00:00:00
EndTime=00:00:00
UseDataDictionary=Y
DataDictionary=../spec/FIX42.xml
HttpAcceptPort=9911
#ClientCertificateFile=
#ClientCertificateKeyFile=
SSLProtocol = +SSLv3 +TLSv1 -SSLv2
TimestampPrecision=6
PreserveMessageFieldsOrder=N

# standard config elements

[SESSION]
# inherit ConnectionType, ReconnectInterval and SenderCompID from default
BeginString=FIX.4.2
SenderCompID=CLIENT1
TargetCompID=EXECUTOR
SocketConnectHost=127.0.0.1
SocketConnectPort=5001
SocketConnectHost1=127.0.0.1
SocketConnectPort1=5002
SocketConnectHost2=127.0.0.1
SocketConnectPort2=5003
HeartBtInt=30 
